
/* Color Theme Swatches in Hex 
.Brane-1-hex { color: #BFB417; }
.Brane-2-hex { color: #D9CC1E; }
.Brane-3-hex { color: #F2E529; }
.Brane-4-hex { color: #BFBBBA; }
.Brane-5-hex { color: #0D0D0D; }
*/

/*
background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
*/

/*CAMBIO DE LETRA Lo aplicamos con la etiqueta html, de modo que se aplique a toda la pagina*/
html{
    font-family: 'Arvo', serif;
}

a{
    /*Quitar la linea de bajo que aparece en los links*/
    text-decoration: none;
    /*Cambiar color de los links*/
    color: #5272bd;
}

.container{
    /*FONDO DEGRADADO*/
    background: #373B44;  /* fallback for old browsers, RESPALDO PARA NAVEGADORES ANTIGUOS*/
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*Para que abarque toda la pantalla el fondo degradado*/
    height: 100vh;

    /*centrar el elementro que se encuentra en content, COLOCA EL ELEMENTO EN EL CENTRO  */
    display: flex;
    align-items: center;
    justify-content: center;

}

.content{
    /*Ancho maximo*/
    max-width: 960px;
    /*Alto maximo*/
    max-height: 500px;
    /*Que abarque todo lo disponible en el ANCHO Y ALTO*/
    width: 100%;
    height: 100%;
    /*Color de fondo*/ 
    background-color: white;

    /*Agregar Sombra al contenedor*/
    box-shadow: 0 3px 6px rgb(0,0,0,0.16),  0 3px 6px rgb(0,0,0,0.23);

    /* cambiar las esquinas */
    border-radius: 4px;

    position: relative;/*Ya es un elemento posicionado*/

}

.actions{
    position: absolute;
    top: 1em;
    right: 1em;
    
}

.close{
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color:mediumblue ;
    display: inline-block;
    box-shadow: 0 3px 6px rgb(0,0,0,0.16),  0 3px 6px rgb(0,0,0,0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    /*MODIFICADOR DE TEXTO*/
    text-transform: uppercase;
} 

.paragraph{
    /*MODIFICADORES DE TEXTO*/
    /*para el interlineado entre parrafos*/
    line-height: 1.8em ;
    /*Cambiar grosor de fuente a delgada*/
    font-weight: 200;
}

.fa-star,.fa-star-o{
    color:#ffc400 ;
}

 .table{
   /*Abarque todo el ancho disponible*/
   width: 100%; 
   /*Quitar espacio entre los bordes de las columnas*/
   border-spacing: 0; 
 }

 .table td, .table th{
     /*Mas espacio con padding*/
     padding: 1em;
     text-align: left;

 }

 .table tr:nth-child(even){background-color: rgb(203, 206, 241);}

/*Bordes y Sombras*/
 .title-item{
     /* border-style crea los 4 borders
     border-bottom-style: solid;
     /*reduce el grosor del borde
     border-width: 2px;
     border-color: mediumblue ; */

     /* Otra forma de definir un borde de manera mas corta SHORTHAND PROPIERTIES */
     border-bottom: solid 2px mediumblue;

     /*dejar espacio entre el nombre y el border*/
     padding-bottom: 1em;
 }

 .position{
     background-color: mediumblue;
     color: white;

     padding: 10px; /*1em 2em 3em 4em; Funciona como las manesillas del reloj*/

     border-radius: 4px;
 }